@import url('https://fonts.googleapis.com/css2?family=Inter&family=Newsreader:ital@1&display=swap');

body {
  --sample-padding: 2vh;
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  height: calc(100vh - (2 * var(--sample-padding)));
  width: calc(100vw - (2 * var(--sample-padding)));
  padding: var(--sample-padding);
  background: #FFFFFF;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
